<div class="<%= ('has-error' if control.has_error?) %> form-group selectize-ajax-wrapper">
  <%= label_tag "#{control.resource_name}[#{control.field}]",
    class: ('col-sm-3 control-label' if control.options.horizontal) do %>
    <%= '*' if control.field_required? %>
    <%= control.label %>
  <% end %>
  <div class="<%= 'selectize-input-group' if control.can_add? %> <%= 'col-sm-9' if control.options.horizontal %>">
    <%= text_field_tag "#{control.resource_name}[#{control.field}]",
      control.value, id: control.resource_id, class: 'custom-form__input' %>
    <% if control.can_add? || control.can_edit? %>
      <span class="input-group-btn">
        <% if control.can_add? %>
          <%= link_to control.options.add_path, class: "btn btn-primary btn-remote add-#{control.resource_name}",
            data: { toggle: 'modal', target: control.options.add_modal } do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= control.options.add_button_text %>
          <% end %>
        <% end %>
        <% if control.can_edit? %>
          <%= link_to control.options.edit_path, class: "btn btn-primary btn-remote edit-#{control.resource_name}",
            data: { toggle: 'modal', target: control.options.edit_modal } do %>
            <span class="glyphicon glyphicon-edit"></span>
            <%= control.options.edit_button_text %>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
  <% if control.has_error? %>
    <span class="<%= ('col-sm-9 col-sm-offset-3' if control.options.horizontal) %> help-block error">
      <%= control.resource_object.errors[control.field].first %>
    </span>
  <% end %>
  <%= script.html_safe %>
</div>

